{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

      <p class="archive__item-excerpt" itemprop="description">{{ post.author | markdownify }} </p>
      {% if post.status %}
        {% if post.venue %}
          {% if post.date %}
            <p>{{ post.status }} in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
          {% elsif post.year %}
            <p>{{ post.status }} in <i>{{ post.venue }}</i>, {{ post.year }}</p>
          {% else %}
            <p>{{ post.status }} in <i>{{ post.venue }}</i></p>
          {% endif %}
        {% else %}
          {% if post.date %}
            <p>{{ post.status }}, {{ post.date | date: "%Y" }}</p>
          {% elsif post.year %}
            <p>{{ post.status }}, {{ post.year }}</p>
          {% else %}
            <p>{{ post.status }}</p>
          {% endif %}
        {% endif %}
      {% else %}
        {% if post.venue %}
          {% if post.date %}
            <p><i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
          {% elsif post.year %}
            <p><i>{{ post.venue }}</i>, {{ post.year }}</p>
          {% else %}
            <p><i>{{ post.venue }}</i></p>
          {% endif %}
        {% else %}
          {% if post.date %}
            <p>{{ post.date | date: "%Y" }}</p>
          {% elsif post.year %}
            <p>{{ post.year }}</p>
          {% endif %}
        {% endif %}
      {% endif %}
    
    {% if post.doi %}
      <p>DOI: <a href="https://doi.org/{{ post.doi }}"><u>{{ post.doi }}</u></a></p>
    {% elsif post.paperurl %}
      <p>URL: <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% endif %}

    {% if post.excerpt %}
        <h6 class="archive__item-excerpt">
          <details>
              <summary>Abstract</summary>
              <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
          </details>
        </h6>
    {% endif %}

  </article>
</div>
