{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">{{ title }}</h3>
    {% if post.date %}
        {% if post.date2 %}
          <p class="page__meta">&nbsp;&nbsp;{{ post.date | date: '%B %d, %Y' }} - {{ post.date2 | date: '%B %d, %Y' }}</p>
        {% else %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.date | date: '%B %d, %Y' }}</p>
        {% endif %}
    {% endif %}
    <h6 class="archive__item-excerpt" itemprop="description">&nbsp;{{post.type}}{% if post.link %} (<a href="{{ post.link }}">{% if post.linkname %}{{ post.linkname }}{% else %}link{% endif %}</a>){% endif %}, {% if post.linkvenue %}<a href="{{ post.linkvenue }}">{{ post.venue }}</a>{% else %}{{post.venue}}{% endif %}, {{post.location}}</h6>
  </article>
</div>
