{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
      <p class="page__meta">&nbsp;&nbsp;{{ post.kind }}{% if post.supervisor %}, supervised by {{ post.supervisor }}{% endif %}{% if post.venue %}, {{ post.venue }}{% endif %}{% if post.date %}, {{ post.date | date: "%Y" }}{% elsif post.year %}, {{ post.year }}{% endif %}</p>
    {% if post.excerpt %}
        <h6 class="archive__item-summary">
          <details>
              <summary><b>Abstract</b></summary>
              <p class="archive__item-summary" itemprop="description">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
          </details>
        </h6>
    {% endif %}

  </article>
</div>
