{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse"><i class="fa fa-fw fa-address-card" aria-hidden="true"></i> Info</button>
    <ul class="author__urls social-icons">
      {% if author.employer %}
        {% if author.office %}
          <li><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.employer }}<br>{{ author.office }}</li>
        {% else %}
          <li><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.employer }}</li>
        {% endif %}
      {% endif %}
      {% if author.location %}
          {% if author.location2 %}
              {% if author.location3 %}
                <li><a href="https://www.google.com/maps/search/{{ author.location }},{{ author.location2 }},{{ author.location3 }}"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}<br>{{ author.location2 }}<br>{{ author.location3 }}</a></li>
              {% else %}
                <li><a href="https://www.google.com/maps/search/{{ author.location }},{{ author.location2 }}"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}<br>{{ author.location2 }}</a></li>
              {% endif %}
          {% else %}
            <li><a href="https://www.google.com/maps/search/{{ author.location }}"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</a></li>
          {% endif %}
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email_work %}
        <li><a href="mailto:{{ author.email_work }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].work_email_label | default: "Work email" }}</a></li>
      {% endif %}
      {% if author.email_private %}
        <li><a href="mailto:{{ author.email_private }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].private_email_label | default: "Private email" }}</a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
      {% endif %}
      {% if author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
    </ul>
  </div>
</div>
