/* ==========================================================================
   CV_PAGE
   ========================================================================== */

.cv_page {
  margin-bottom: 2em;
  height: 100%;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.cv_page__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .cv_page__item-title {
    margin-top: 1em;
  }
}

.cv_page__item-title {
  margin-bottom: .2em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .cv_page__item-title {
    margin-top: 2em;
    border-bottom: none;
  }
}

.cv_page__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

.cv_page__item-summary {
  margin-top: 0;
  margin-left: 0.5em;
  font-size: $type-size-6;

  & + p {
    font-size: $type-size-6;
    margin-left: 0.5em;
  }
}

.cv_page__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.cv_page__item:hover {
  .cv_page__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .cv_page__item-title {
    text-decoration: underline;
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .cv_page__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .cv_page__item-teaser {
        @include span(5 of 12);
      }

      .cv_page__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .cv_page__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .cv_page__item-teaser {
        @include span(5 of 12 rtl);
      }

      .cv_page__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .cv_page__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .cv_page__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .cv_page__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

details > summary {
  margin-left: 1em;
}

